# Authentication
BASIC_AUTH_USER=rohit@gamil.com
BASIC_AUTH_PASS=Rohit@2021
API_TOKEN=your-api-token-here

# OCI Authentication
OCI_TENANCY_OCID=ocid1.tenancy.oc1..aaaaaaaaf22r3xs5yrsu3ic7lo77ia4lak76w7av3z5bn2yqhlzmjlp5y2wa
OCI_USER_OCID=ocid1.user.oc1..aaaaaaaazjfr7a4ej3pobrktszxntbbbs5lxxeoaesscbthl5krporl2gtza
OCI_FINGERPRINT=b4:20:45:25:b2:06:37:20:65:98:26:69:b8:f6:0f:f5
OCI_PRIVATE_KEY_PATH=D:\oracal\bucket_key\rohit311710@gmail.com-2026-01-04T17_52_59.591Z.pem

# OCI Storage
OCI_REGION=ap-mumbai-1
OCI_NAMESPACE=bmrdn42xcnze
OCI_BUCKET_NAME=my-bucket
